<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script>
      function getCoordinates() {
        const userAction = async () => {
          const response = await fetch('http://127.0.0.1:5000/get_collecting_points'); // pentru test
          //const response = await fetch('https://domain-name/get_collecting_points');
          const myJson = await response.json();
          console.log(myJson)
        }
        userAction()
      }
</script>

</body>
</html>